{% block content %}
<html>
<head>
</head>
<title>
Emailerror
</title>
<body>
<br/><br/> <br/>
  <div class="container info-boxes pt100 pb100">
  <p></p>
      <h3 align="center">Please enter a valid emailid which contain minimum five charactor before @ symbol. </h3>

  </div>
</body>
</html>


{% endblock %}

