<html>
<head>
</head>
<title>
Password
</title>
<body>
<br/> <br/> <br/>

<h2 align="center"> Enter MobileNo to reset your password </h2><br/>
<form name="loginForm" action="" method="POST" align="center">
  {% csrf_token %}
   MobileNo: <input type="text" align="center" name="mobileNo" id="mobileNo" /></br></br>
   OTP: <input type="text" name="otp" id="otp" />
   <input type="submit"  id="login" name="btn1"  value="Genrate OTP" size="500px" /><br/>
   </br></br>
   <input type="submit" id="login"  name="btn2" value="Reset Password" size="500px" /><br/><br/><br/>



</form>
</body>
</html>        
