<html>
<head>
</head>
<title>
Login
</title>
<body>
</br></br><br/><br/>
<h1 align="center" size:500px>Login</h1>
<form name="loginForm" action="" method="POST" align="center">
  {% csrf_token %}
   Email: <input align="center" type="text" name="email" id="email" /><br/><br/><br/>
   Password:<input type="Password" id="password" name="password" /><br />
   {% if pas %}
    <p> Invalid Email or Invalid Password</p>
   {% endif %}
   </br></br>
   <input type="submit" id="login"  value="Login" size="500px" /><br/><br/><br/>
   <a href="{% url 'forgot' %}">Forgot password</a><br/></br>
   <a href="{% url 'register' %}">Create a new account</a> 


</form>
</body>
</html>
