<html>
<head>
</head>
<title>
Reset Password
</title>
<body>
<br/> <br/> <br/><br/>
<h1 align="center" size:500px>Enter new password</h1><br/>
<form name="loginForm" action="" method="POST" align="center">
  {% csrf_token %}
   Password:<input type="Password" id="password" name="password" /><br /><br/><br/>
   <input type="submit" id="login"  value="Reset" size="500px" /><br/><br/><br/>



</form>
</body>
</html>


