<html>
<head>
</head>
<title>
 Signup
</title>
<body>
<br/> <br/> <br/>
<h1 align="center" size:500px>Register</h1>
<form name="loginForm" action="#" method="POST" align="center">
  {% csrf_token %}
   Name: <input type="text" name="name" id="name" /><br/><br/><br/>
   EmailId:<input type="text" name="email" id="email" /><br/>
   {% if parameters %}
    <p> invalid email.</p>
    <p>Please enter a valid emailid which contain minimum five charactor before @ symbol.</p>
   {% endif %}
   <br/><br/>
   PhoneNo: <input type="text" name="phoneNo" id="phoneNo" /><br/><br/><br/>
   Password:<input type="Password" id="password" name="password" /><br />
   {% if param %}
      <p>Please enter a valid password which :</p>
      <p> -length should be minimum eight.</p>
      <p> -contain minimum one digit.</p>
      <p> -contain minimum one capital letter.</p>
      <p> -contain minimum one small letter.</p>
   {% endif %}
   </br></br>
   Confirm password:<input type="Password" id="confirm_password" name="confirm_password" /><br />
   {% if message %}
    <p> The password and confirm password do not match.</p>
   {% endif %}
   <br/><br/>
   <input type="submit" id="submit" value="Submit" size="800px" />
  





</form>
</body>
</html>

