{% block content %}
<html>
<head>
</head>
<title>
Welcome
</title>
<body>
<br/><br/> <br/>
  <div class="container info-boxes pt100 pb100">
  <p></p>
      <h1 align="center">Welcome {{user_name}} </h1>

  </div>
</body>
</html>


{% endblock %}
                 
